/*
--------------------------------------------
TYPOGRAPHY

Base typography styles.
----------------------------------------- */

html {
  color: $primary-color;
  font-family: system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
}


h2 {
  font-weight: 700;
}
