/*
--------------------------------------------
VARIABLES

Variables.
----------------------------------------- */

$primary-color: #D06503;
$secondary-color: #0E1D29;

// Misc Values
$border-radius: 2px;
