/*
--------------------------------------------
VARIABLES

Variables.
----------------------------------------- */

$primary-color: #3BCED3;
$secondary-color: #461CB4;

// Misc Values
$border-radius: 2px;
